@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<div>
    <div>Dave Brown</div>
    <div>p. 303.949.6889</div>
    <div>email. info@davebrownphotography.com<br /></div>
    <br />
    <div>Studio:</div>
    <div>3501 Wazee Street</div>
    <div>Denver, CO 80216</div>
</div><hr/>
<br/>
<span>Feel free to send me a little note.  I would love to hear from you!</span><br/>
<br/>
<form class="form-inline" role="form">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Name">
    </div>
    <p></p>
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Email">
    </div>
    <p></p>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Subject">
    </div>
    <p></p>
    <div class="form-group">
        <label class="text-info">Message</label><br/>
        <textarea class="form-control" rows="6" cols="40"></textarea>
    </div>
    <p></p>
    <button type="submit" class="btn btn-success btn-lg" style="background-color: #31708f; border-color: #31708f">Send</button>
</form>
