@{
    ViewBag.Title = "Denver Photographer Dave Brown";
}
@model List<DBPMobile.Models.PortfolioImage>

<div id="divMasonryContainer" class="divMasonryContainer">
    @foreach(var image in Model)
    {
        <img class="homePageImage" src="@image.ImageLocation" style="border-width:0px; max-width:32%; height:auto; padding: 0px 0px 3px 0px;" />
    }
</div>

